<header class="header">
  <nav class="header-nav">
    <div class="header-nav__title">Lindsey Dragun</div>
    <a class="header-nav__skip" href="#maincontent">skip to main content</a>
    <ul class="header-nav__links">
      <li class="header-nav__link">
        <a href="/">Home</a>
      </li>
      <li class="header-nav__link"><a href="/resume.html">Resume</a></li>
<!--       <li class="header-nav__link"><a href="/navi.html">Nav</a></li> -->
      <li class="header-nav__link"><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
