{% include base.html %}
<aside class="sidebar">
  <div class="sidebar__main">
    <div class="sidebar__banner">
      <span>Links</span>
    </div>
    <ul class="sidebar__links">
      <li class="sidebar__link"><a href="https://dragun.tech/speaking.html">Speaking</a></li>
      <li class="sidebar__link"><a href="https://dragun.tech/blog.html">Blog</a></li>
      <li class="sidebar__link"><a href="https://www.linkedin.com/in/ldragun">LinkedIn</a></li>
      <li class="sidebar__link"><a href="https://dragun.tech/portfolio.html">Portfolio</a></li>
    </ul>
  </div>
</aside>
