<aside class="sidebar">
  <div class="sidebar__main">
    <div class="sidebar__banner">
      <span>Personal</span>
    </div>
    <ul class="sidebar__links">
      <li class="sidebar__link">Old Blog</li>
      <li class="sidebar__link">Project 1</li>
      <li class="sidebar__link">Project 2</li>
    </ul>
  </div>
  <div class="sidebar__secondary">
    <div class="sidebar__banner">
      <span>Volunteering</span>
    </div>
    <ul class="sidebar__links">
      <li class="sidebar__link">WITS DC '17</li>
      <li class="sidebar__link">Women Who Code DC</li>
      <li class="sidebar__link">Pride Tech DC</li>
    </ul>
  </div>
</aside>
