.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &__content {
    width: 100%;
    padding: $space-triple $space-sex;

    @include desktop {
      width: 80%;
    }

    a {
      color: $purple-light;
      font-weight: $semi-bold;
    }
  }

  .blurb {
    padding: 0 $space-triple;
    margin: $space-quad 0 100px 0;

    &__about {
      display: flex;
      flex-direction: column;
    }

    .profile-image {
      visibility: hidden;
      display: none;
    }
    @include desktop {
      padding: 0 $space-sex;
      margin: $space-quad $space-triple;
      border: 1px solid $grey;

      p {
        padding: $space $space-triple;
      }

      &__about {
        flex-direction:row;
      }

      .profile-image {
        visibility: visible;
        display: inline;
        margin-top: $space;
        height: 150px;
      }
    }

    &__confs {
      margin-top: $space-triple;

      &--header {
        font-weight: $semi-bold;
      }

      &--title {
        font-weight: $bold;
      }
    }
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.bold {
  font-weight: $bold;
}

.con-resources {
  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }
}
