.portfolio {
  &__list {
    li {
      list-style: none;
      margin-top: $space-quad;
    }
  }

  &__content {
    display: inline-block;
  }
}

.project {
  margin-bottom: $space;

  &__title {
    font-size: $text-md;
    font-variant: small-caps;
  }

  &__tech {
    font-size: $text-md;
    font-weight: $light;
  }

  &__gif {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: $grey-light;

    button {
      margin-bottom: $space;
      padding: $space;
      border: 0;
      font-size: $text-sm;
      color: $grey-light;
      background-color: $purple-dark;
    }

    &--static,
    &--moving {
      max-width: 600px;
    }
  }

  .user-stories {
    li {
      display: block;
      min-height: 120px;
      margin: $space-half;
      padding: $space;
      background: $grey;
      vertical-align: bottom;

      @include tablet {
        display: inline-block;
        max-width: 20%;
      }
    }
  }

  .survey {
    &__image {
      margin-left: $space-double;
      max-width: 600px;
    }
  }
}
