
.sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: $space;

  @include tablet {
    display: inline-block;
    color: $purple;
    background-color: $grey-light;
    width: 200px;
    height: 100%;
    min-height: 100%;
    padding-top: $space-quad;
  }

  a {
    color: $purple;

    &:visited {
      color: $purple;
    }

    &:focus,
    &:hover {
      color: $purple-light;
    }
  }

  &__banner {
    color: $purple;
    font-size: $text-md;

    @include tablet {
      position: relative;
      height: 30px;
      color: $white;
      background-color: $purple-light;
      font-size: $text-md;
      font-weight: $bold;
      margin: 20px -30px 20px $space;
      z-index: 1;
      width: 206px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $grey-light;
        width: 15px;
        height: 15px;
        top: 100%;
        right: 15px;
      }
      &:after {
        content: '';
        width: 0;
        border: 15px solid;
        border-color: $black transparent transparent transparent;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: $space-quad;
    list-style: none;

    @include tablet {
      display: block;
    }

    &--blog {
      list-style: square;
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }
  }

  &__link {
    padding-right: $space-triple;
    font-weight: $semi-bold;

    @include tablet {
      padding-right: 0;
      font-size: .9rem;
    }

  }
}
