
.sidebar {
  color: $purple;
  background-color: $grey-light;
  width: 200px;
  height: 100%;
  min-height: 100%;
  display: none;
  visibility: hidden;
  padding-top: $space-sex;

  @include desktop {
    display: inline-block;
    visibility: visible;
  }

  a {
    color: $purple;

    &:visited {
      color: $purple;
    }

    &:focus,
    &:hover {
      color: $purple-light;
    }
  }

  &__banner {
    position: relative;
    // padding: 10px;
    height: 30px;
    color: $white;
    background-color: $purple-light;
    font-size: $text-md;
    font-weight: $bold;
    margin: 20px -30px 20px $space;
    z-index: 1;
    width: 206px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: $grey-light;
      width: 15px;
      height: 15px;
      top: 100%;
      right: 15px;
    }

    &:after {
      content: '';
      width: 0;
      border: 15px solid;
      border-color: $black transparent transparent transparent;
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: -1;

    }
  }

  &__links {
    padding-left: $space-quad;
    list-style: none;

    &--blog {
      list-style: square;
    }
  }

  &__link {
    font-size: .9rem;
    font-weight: $semi-bold;
  }
}
