
// font sizes
$text-base: 1.2rem;
$text-sm: .8rem;
$text-md: 1.6rem;
$text-lg: 2rem;

// colors
// $blue: rgba(169, 206, 244, 1);
// $black: rgba(0, 0, 0, 1);
// $grey: rgba(172, 185, 193, 1);
// $grey-dark: rgba(51, 51, 51, 1);
// $orange: rgba(247, 113, 125, 1);
// $peach: rgba(247, 178, 183, 1);
// $pink: rgba(222, 99, 154, 1);
// $purple: rgba(125, 91, 166, 1);
// $purple-dark: rgba(100, 49, 115, 1);
// $seablue: rgba(89, 112, 129, 1);
// $seafoam: rgba(134, 165, 156, 1);

// $tan: rgba(206, 206, 206, 1);

$purple-light: rgba(104, 66, 163, 1);
$purple: rgba(61, 32, 107, 1);
$purple-dark: rgba(48, 31, 76, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(33, 33, 33, 1);
$grey: rgba(216, 216, 216, 1);
$grey-light: rgba(250, 250, 250, 1);

// variables for breakpoint
$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1280px;

// font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
